<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/juijs-ui@2.1.7-es6/dist/jui-ui.classic.css" integrity="sha256-frFVI39kCii3Yh6DbkhVmdUjbZeRs9HyL9jDppevvZs=" crossorigin="anonymous">

</head>
<body>
    <div id="app" class="jui">
        <div id="eth-example">
            <div class="row">
                <p>e.g. 사용자가 게임을 시작할 때 입금에 사용할 주소 생성</p>
                <p>Note: account 노드에 보관 안함</p>
                <div>
                    <button class="btn" v-on:click="createAccount()">create an account</button>
                </div>
                <p>Account address is {{accountAddress}}</p>
            </div>
            <hr>
            <div class="row">
                <p>e.g. 사용자가 게임을 시작할 때 입금에 사용할 주소 생성</p>
                <p>Note: account 노드에 보관</p>
                <div>
                    <input type="password" class="input" v-model="passphrase">
                    <button class="btn" v-on:click="createAccount2()">create an account</button>
                </div>
                <p>Account address is {{accountAddress}}</p>
            </div>
            <hr>

            <div class="row">
                <p>e.g. 해당 계좌의 잔고 조회</p>
                <div>
                    <input type="text" class="input" v-model="accountAddress">
                    <button class="btn"  v-on:click="checkBalance()">check</button>
                </div>
                <p>current balance of {{accountAddress}} is {{currentBalance}} wei</p>
            </div>
            <hr>

            <div class="row">
                <p>e.g. 사용자의 출금 요청</p>
                <div>
                    출금 받을 주소: <input type="text" class="input" v-model="withdrawAddress">
                    <button class="btn"  v-on:click="withdraw()">withdraw</button>
                </div>
                <p>the withdraw transaction id is {{withdrawTxId}}</p>
            </div>


        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js" integrity="sha256-FtWfRI+thWlNz2sB3SJbwKx5PgMyKIVgwHCTwa3biXc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js" integrity="sha256-e9WxLR4DOP5XKMT4mflXVovZS4mVdiMkAFSDHF+6q80=" crossorigin="anonymous"></script>
    <script>

        new Vue({
            el: "#eth-example",
            data: {
                passphrase: "",
                accountAddress: "",
                withdrawAddress: "",
                withdrawTxId: "",
                currentBalance: 0
            },
            methods: {
                createAccount: function() {
                    this.$http.post("/account/create")
                        .then(response => this.accountAddress = response.data.address);
                },
                createAccount2: function() {
                    this.$http.post("/account/create-in-node", { password: this.passphrase })
                        .then(response => this.accountAddress = response.data);
                },
                checkBalance: function() {
                    this.$http.get("/account/" + this.accountAddress)
                        .then(response => {
                            this.currentBalance = response.data
                        });
                },
                withdraw: function() {
                    this.$http.post("/withdraw/remote", { address: this.withdrawAddress })
                        .then(response => this.withdrawTxId = response.data);
                }
            }
        });
    </script>
</body>
</html>